.craft-preview  {
    margin-top: 130px;
    min-height: 500px;
    &.row {
        margin: 100px auto !important;
    }
    .dropdown {
        position: absolute !important;
        width: 100%;
        bottom: 2%;
    }

    
}
