.acc-req {
    min-height: 300px;
    margin-top: 101px
}

@media (max-width:"600px") {
    .acc-req {
        font-size: 10px !important;
        .container {
            padding: 0px !important;
        }
    }

    .acc-req {
        button {
            font-size: 10px !important;
        }
    }
}