@import '../../scss-customs/utilities.scss';

.MuiButton-outlinedPrimary {
    outline: none !important;
}

.req-num {
    background: #3587d7;
    position: absolute;
    left: -10px;
    width: 17%;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.special-case {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    bottom: 2%;
}

.right-67 {
    right: 80%;
    font-weight: bold;
}
 
.MuiAppBar-colorPrimary {
    background-color: #3587D7 !important;
}

.waiting {
    color: cornflowerblue;
}

.recieved {
    color: #0dd90d;
}

@media (max-width:"550px") {
    .right-67 {
        right: 54%!important;
        top: 42%;;
    }
    .MuiButtonBase-root .MuiIconButton-root {
        position: absolute;
    left: 7%;
    top: 10%;
    }
    .MuiListItem-gutters {
     
        flex-direction: column;
    } 
    .MuiListItemText-multiline {
        width: 100%;
    }
}

.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
    display: flex;
    flex-direction: row;
    .btn-primary {
    }
}

button.MuiButtonBase-root.MuiIconButton-root {
    position: absolute;
    left: 1%;
}

@media (max-width:"550px ") {
    .MuiListItem-button .btn-primary {
        right: 25%;

    }
}