@import '../../scss-customs/utilities.scss';
@import '../../scss-customs/mixins.scss';

.MuiButtonBase-root.append {
    left: 80% !important;
    top: 4.5% !important;
    transform: translateY(-50%) !important;
    z-index: 11;
    position: fixed !important;
}
.MuiButtonBase-root.append + div {
    z-index: 11;

}

.req-icon {
    position: absolute;
    left: 13%;
    width: 29%;
    background: #ff7575;
    border-radius: 50%;
    text-align: center;
    font-size: smaller;
    color: white;
}

.x-sm-font {
    font-size: 13px;
}

.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button {
    flex-wrap: wrap;
    border-bottom: 1px solid gainsboro;

}

@media (max-width:"991px") {
    .MuiButtonBase-root.append {
        left: 58% !important;
    }
} 

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 150px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #2ecc71; /* Black background color */
    color: #fff; /* White text color */
    text-align: right; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    right: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

@media (max-width:"991px") {
    .MuiButtonBase-root.append {
        left: 58% !important;
    }
} 