@import '../../scss-customs/variables.scss';

.underline-header-container {
    position: relative;
    
    h1 {
        font-size: 1.5rem !important;
    }

    &::after {
        content: "";
        position: absolute;
        right: -16px;
        bottom: -16px;
        width: 20%;
        height: 4px;
        background-color: $color-primary;
    }

}